[submodule "openwrt-gecoosac"]
	path = openwrt-gecoosac
	url = https://github.com/lwb1978/openwrt-gecoosac
[submodule "helloworld"]
	path = helloworld
	url = https://github.com/fw876/helloworld
[submodule "lucky"]
	path = lucky
	url = https://github.com/sirpdboy/luci-app-lucky
[submodule "koolproxy"]
	path = koolproxy
	url = https://github.com/Baozisoftware/luci-app-koolproxy
[submodule "pushbot"]
	path = pushbot
	url = https://github.com/gaoyaxuan/luci-app-pushbot
[submodule "ramfree"]
	path = ramfree
	url = https://github.com/sbwml/luci-app-ramfree
[submodule "unblockneteasemusic"]
	path = unblockneteasemusic
	url = https://github.com/UnblockNeteaseMusic/luci-app-unblockneteasemusic
