[submodule "openwrt-gecoosac"]
	path = openwrt-gecoosac
	url = https://github.com/lwb1978/openwrt-gecoosac
[submodule "helloworld"]
	path = helloworld
	url = https://github.com/fw876/helloworld
[submodule "lucky"]
	path = lucky
	url = https://github.com/sirpdboy/luci-app-lucky
[submodule "koolproxy"]
	path = koolproxy
	url = https://github.com/Baozisoftware/luci-app-koolproxy
[submodule "pushbot"]
	path = pushbot
	url = https://github.com/gaoyaxuan/luci-app-pushbot
[submodule "ramfree"]
	path = ramfree
	url = https://github.com/sbwml/luci-app-ramfree
[submodule "unblockneteasemusic"]
	path = unblockneteasemusic
	url = https://github.com/UnblockNeteaseMusic/luci-app-unblockneteasemusic
[submodule "vlmcsd"]
	path = vlmcsd
	url = https://github.com/DokiDuck/luci-app-vlmcsd
[submodule "wolplus"]
	path = wolplus
	url = https://github.com/animegasan/luci-app-wolplus
[submodule "wrtbwmon"]
	path = wrtbwmon
	url = https://github.com/gitbruc/openwrt-wrtbwmon
[submodule "mwan3helper"]
	path = mwan3helper
	url = https://github.com/padavanonly/luci-app-mwan3helper-chinaroute
[submodule "netdata"]
	path = netdata
	url = https://github.com/sirpdboy/luci-app-netdata
[submodule "ddns-go"]
	path = ddns-go
	url = https://github.com/sirpdboy/luci-app-ddns-go
[submodule "luci-app-adguardhome"]
	path = luci-app-adguardhome
	url = https://github.com/rufengsuixing/luci-app-adguardhome
[submodule "UUGameAcc"]
	path = UUGameAcc
	url = https://github.com/BCYDTZ/luci-app-UUGameAcc
[submodule "luci-app-dockerman"]
	path = luci-app-dockerman
	url = https://github.com/lisaac/luci-app-dockerman
[submodule "passwall2"]
	path = passwall2
	url = https://github.com/xiaorouji/openwrt-passwall2
[submodule "passwall"]
	path = passwall
	url = https://github.com/xiaorouji/openwrt-passwall
[submodule "geoview"]
	path = geoview
	url = https://github.com/snowie2000/geoview
[submodule "unblockmusic"]
	path = unblockmusic
	url = https://github.com/maxlicheng/luci-app-unblockmusic
[submodule "syncdial"]
	path = syncdial
	url = https://github.com/rufengsuixing/luci-app-syncdial
[submodule "node"]
	path = node
	url = https://github.com/nxhack/openwrt-node-packages
