[submodule "openwrt-gecoosac"]
	path = openwrt-gecoosac
	url = https://github.com/lwb1978/openwrt-gecoosac
[submodule "helloworld"]
	path = helloworld
	url = https://github.com/fw876/helloworld
[submodule "lucky"]
	path = lucky
	url = https://github.com/sirpdboy/luci-app-lucky
[submodule "koolproxy"]
	path = koolproxy
	url = https://github.com/Baozisoftware/luci-app-koolproxy
